:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --title-dark-color: #212121;
  --title-light-color: #FFFFFF;
  --logo-dark-color: #000000;
  --description-color: #757575;
  --accent-color: #2196F3;
  --background-dark-color: #2F303A;
  --background-light-color: #F5F4FA;
  --semitransparent-address-color:  rgba(255, 255, 255, 0.6);
  --semitransparent-border-color:  rgba(255, 255, 255, 0.3);
  --section-border-color: solid #ECECEC;
  --card-border-color: solid #EEEEEE;
  --hero-bg: #C4C4C4;
  --icon-color: #AFB1B8;
  --services-bg: rgba(47, 48, 58, 0.8);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --border-radius: rgba(0, 0, 0, 0.1);
  --modal-input-border:  rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo {
  display: block;
  font-family: var(--logo-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-dark-color);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  padding: 15px 0;
}

.header .logo {
  margin-right: 93px;
}

.header .logo-reverse {
  color: var(--logo-dark-color);
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--title-dark-color);
  -webkit-transition: color var(--transition-timing);
  transition: color var(--transition-timing);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.active-page {
  position: relative;
  color: var(--accent-color);
}

.header .active-page {
  padding-bottom: 31px;
}

.active-page::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--description-color);
  -webkit-transition: color var(--transition-timing);
  transition: color var(--transition-timing);
}

.contact-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
}

.contact-list-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list-svg {
  margin-right: 10px;
  fill: var(--description-color);
  -webkit-transition: fill var(--transition-timing);
  transition: fill var(--transition-timing);
}

.envelope {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--accent-color);
}

.contact-list-link:hover .contact-list-svg,
.contact-list-link:focus .contact-list-svg {
  fill: var(--accent-color);
}

.footer {
  padding: 60px 0;
  min-height: 252px;
  background-color: var(--background-dark-color);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address {
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 70px;
}

.footer .logo-reverse {
  color: var(--title-light-color);
}

.footer .logo {
  margin-bottom: 20px;
}

.address > a {
  display: block;
}

.address > a:not(:last-child) {
  margin-bottom: 9px;
}

.address-main {
  margin-bottom: 9px;
}

.address-main {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--title-light-color);
  -webkit-transition: color var(--transition-timing);
  transition: color var(--transition-timing);
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--semitransparent-address-color);
  -webkit-transition: color var(--transition-timing);
  transition: color var(--transition-timing);
}

.address-main:hover,
.address-main:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.join-us {
  width: 206px;
  height: 80px;
  margin-right: 93px;
}

.join-us-slogan,
.submit-slogan {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-light-color);
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-svg {
  fill: var(--title-light-color);
}

.submit-email {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid var(--semitransparent-border-color);
  border-radius: 4px;
  background-color: var(--background-dark-color);
  color: var(--title-light-color);
}

.submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  background: var(--accent-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--title-light-color);
  cursor: pointer;
}

.submit-svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--title-light-color);
}

.submit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.submit-form input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--semitransparent-address-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--semitransparent-address-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-form input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--semitransparent-address-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submit-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--semitransparent-address-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--transition-timing);
  transition: background-color var(--transition-timing);
}

.social-list svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition-timing);
  transition: fill var(--transition-timing);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: var(--title-light-color);
}

.modal-button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--title-light-color);
  background: var(--accent-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--title-light-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--border-radius);
  background-color: var(--title-light-color);
  cursor: pointer;
}

.close-button-svg {
  width: 11px;
  height: 11px;
  -webkit-transition: fill var(--transition-timing);
  transition: fill var(--transition-timing);
}

.close-button:focus svg,
.close-button:hover svg {
  fill: var(--accent-color);
}

.modal-wrapper {
  padding: 40px 40px;
}

.modal-form-slogan {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-dark-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.167;
  color: var(--description-color);
}

.modal-form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: outline var(--transition-timing), border-color var(--transition-timing);
  transition: outline var(--transition-timing), border-color var(--transition-timing);
}

.modal-form-svg {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  -webkit-transition: fill var(--transition-timing);
  transition: fill var(--transition-timing);
}

.modal-form-container {
  position: relative;
}

.modal-form-container:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid var(--modal-input-border);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: outline var(--transition-timing), border-color var(--transition-timing);
  transition: outline var(--transition-timing), border-color var(--transition-timing);
}

.modal-form textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form textarea::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form-input:focus,
.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-svg {
  fill: var(--accent-color);
}

.modal-form-conditions {
  color: var(--accent-color);
}

.modal-form-policy .modal-button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-policy {
  display: block;
  text-align: center;
}

.modal-form-checkbox-label {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.modal-form-checkbox-label::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--logo-dark-color);
  border-radius: 3px;
  outline: none;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/svg/check.svg);
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-size: 100%;
  border: none;
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding: 200px 0;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-color: var(--hero-bg);
}

.hero-title {
  margin-bottom: 30px;
  min-width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-light-color);
}

.hero .modal-button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.advantages {
  padding: 94px 0;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-list-item {
  width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-subtitle::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-light-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.details::before {
  background-image: url(../images/svg/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.punctuality::before {
  background-image: url(../images/svg/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.planning::before {
  background-image: url(../images/svg/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.technologies::before {
  background-image: url(../images/svg/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.advantages-list-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-dark-color);
}

.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.services {
  padding-bottom: 94px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list-item {
  position: relative;
}

.services-list-item:not(:last-child) {
  margin-right: 30px;
}

.service-list-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background: var(--services-bg);
}

.service-list-overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: var(--title-light-color);
  text-transform: uppercase;
}

.team {
  padding: 94px 0;
  background: var(--background-light-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  width: 270px;
  background-color: var(--title-light-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-content {
  padding: 30px 20px;
  text-align: center;
}

.team-list-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--title-dark-color);
}

.team-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--description-color);
  margin-bottom: 16px;
}

.clients {
  padding: 94px 0;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-timing);
  transition: border-color var(--transition-timing);
}

.clients-list-svg {
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition-timing);
  transition: fill var(--transition-timing);
}

.logo-1 {
  width: 44.27px;
  height: 49.23px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 42.6px;
}

.logo-4 {
  width: 79.66px;
  height: 42.02px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 88.48px;
  height: 45.44px;
}

.clients-list-link:hover .clients-list-svg,
.clients-list-link:focus .clients-list-svg {
  fill: var(--accent-color);
}

.clients-list-link:hover,
.clients-list-link:focus {
  border-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */