


.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*  ============ COMPONENTS ============ */

.logo {
    display:block;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
}

/*  ============ END COMPONENTS ============ */

/*  ============ HEADER ============ */

.header .container {
    display: flex;
    padding: 25px 0;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.navigation {
    display:flex;
    align-items: center;
}

.header a {
    padding: 15px 0;
}

.header .logo {
    margin-right: 93px;
}

.header .logo-reverse {
    color: var(--logo-dark-color);
}

.navigation-list {
    display:flex;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-dark-color);
    transition: color var(--transition-timing);
}

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color);
}

.active-page {
    position: relative;
    color: var(--accent-color);
}

.header .active-page {
    padding-bottom: 31px;
}

.active-page::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 4px;
}

.contact-list {
    display:flex;
    margin-left: auto;
}

.contact-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--description-color);
    transition: color var(--transition-timing);
}

.contact-list a {
    display: flex;
    align-items: center;
    height: 16px;
}

.contact-list-item:not(:last-child) {
    margin-right: 50px;
}

.contact-list-svg {
    margin-right: 10px;
    fill: var(--description-color);
    transition: fill var(--transition-timing);
}

.envelope {
    width: 16px;
    height: 12px;
}

.smartphone {
    width: 10px;
    height: 16px;;
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}

.contact-list-link:hover .contact-list-svg,
.contact-list-link:focus .contact-list-svg {
    fill: var(--accent-color);
}

/*  ============ END HEADER ============ */

/*  ============ FOOTER ============ */

.footer {
    padding: 60px 0;
    min-height: 252px;
    background-color: var(--background-dark-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-address {
    align-content: center;
    margin-right: 70px;
}

.footer .logo-reverse {
    color: var(--title-light-color);
}

.footer .logo {
    margin-bottom:20px;
}

.address > a {
    display:block;
}

.address > a:not(:last-child) {
    margin-bottom: 9px;
}

.address-main {
    margin-bottom: 9px;
}

.address-main {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--title-light-color);
    transition: color var(--transition-timing);
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--semitransparent-address-color);
    transition: color var(--transition-timing);
}

.address-main:hover,
.address-main:focus,
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.join-us {
    width: 206px;
    height: 80px;
    margin-right: 93px;
}

.join-us-slogan,
.submit-slogan {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-light-color);
}

.footer .social-list-link {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-list-svg {
    fill: var(--title-light-color);
}

.submit-email {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    border: 1px solid var(--semitransparent-border-color);
    border-radius: 4px;
    background-color: var(--background-dark-color);
    color: var(--title-light-color);
}

.submit-button {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 29px;
    background: var(--accent-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--title-light-color);
    cursor: pointer;
}

.submit-svg {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: var(--title-light-color);
}

.submit-form {
    display: flex;
    flex-wrap: nowrap;
}

.submit-form input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--semitransparent-address-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*  ============ END FOOTER ============ */


/*-------STUDIO PAGE-------*/

/*  ============ HERO ============ */

.hero {
    margin: 0 auto;
    max-width: 1600px;
    padding: 200px 0;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-color: var(--hero-bg);
}

.hero-title {
    margin-bottom: 30px;
    min-width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-light-color);
}  
.hero-button,
.modal-form-button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--title-light-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /*  ============ END HERO  ============ */

  /*  ============ MODAL ============ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-color);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--title-light-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--border-radius);
    background-color: var(--title-light-color);
    cursor: pointer;
}

.close-button-svg {
    width: 11px;
    height: 11px;
    transition: fill var(--transition-timing);
}  

.close-button:focus svg,
.close-button:hover svg {
    fill: var(--accent-color);
}

.modal-wrapper {
    padding: 40px 40px;
}

.modal-form-slogan {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.167;
    color: var(--description-color);
}

.modal-form-input {
    padding-left: 42px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--modal-input-border);
    border-radius: 4px;
    cursor: pointer;
    transition: outline var(--transition-timing), border-color var(--transition-timing);
}

.modal-form-svg {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: fill var(--transition-timing);
}

.modal-form-container {
    position: relative;
}

.modal-form-container:not(:last-child) {
    margin-bottom: 10px;
}

.modal-form-comment {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    border: 1px solid var(--modal-input-border);
    border-radius: 4px;
    cursor: pointer;
    transition: outline var(--transition-timing), border-color var(--transition-timing);
}

.modal-form textarea::placeholder {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.143;
    letter-spacing: 0.01em;
    color: var(--placeholder-color);
}

.modal-form-input:focus,
.modal-form-comment:focus {
    outline: none;
    border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-svg {
    fill: var(--accent-color);
}


.modal-form-conditions {
    color: var(--accent-color);
}

.modal-form-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.modal-form-policy {
    display: block;
    text-align: center;
}

.modal-form-checkbox-label {
    display: inline-block;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.modal-form-checkbox-label::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid var(--logo-dark-color);
    border-radius: 3px;
    outline: none;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
    background-image: url(../images/svg/check.svg);
    background-repeat: no-repeat;
    background-color: var(--accent-color);
    background-size: 100%;
    border: none;
}

  /*  ============ END MODAL ============ */

  /*  ============ ADVANTAGES  ============ */

.advantages {
    padding: 94px 0;
}

.advantages-list {
    display: flex;
}

.advantages-list-item {
    width: 270px;
}

.advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list-subtitle::before {
    display:block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--background-light-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.details::before {
    background-image: url(../images/svg/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

.punctuality::before {
    background-image: url(../images/svg/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

.planning::before {
    background-image: url(../images/svg/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

.technologies::before {
    background-image: url(../images/svg/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

.advantages-list-subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-dark-color);
}

.advantages-list-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

/*  ============ END ADVANTAGES ============ */

/*  ============ SERVICES ============ */

.services {
    padding-bottom: 94px;
}

.services-list {
    display: flex;
}

.services-list-item {
    position: relative;
}

.services-list-item:not(:last-child) {
    margin-right: 30px;
}

.service-list-overlay {
    position: absolute;
    bottom:0;
    left:0;
    display: flex;
    padding: 27px 27px;
    justify-content: center;
    width: 370px;
    height: 70px;
    background: var(--services-bg);
}

.service-list-overlay-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: var(--title-light-color);
    text-transform: uppercase;
}

/*  ============ END SERVICES ============ */

/*  ============ TEAM ============ */

.team {
    padding: 94px 0;
    background: var(--background-light-color);    
}

.team-list {
    display:flex;
}

.team-list-item:not(:last-child) {
    margin-right: 30px;
}

.team-list-item {
    width: 270px;
    background-color: var(--title-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-content {
    padding: 30px 20px;
    text-align: center;
}

.team-list-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
}
.team-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: var(--description-color);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: center;
 }

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width:44px;
    height:44px;
    border-radius: 50%;
    transition: background-color var(--transition-timing);
}

.social-list svg {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: fill var(--transition-timing);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
    fill: var(--title-light-color);
}

/*  ============ END TEAM ============ */

/*  ============ START CLIENTS ============ */
.clients {
    padding: 94px 0;
}

.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list-item:not(:last-child) {
    margin-right: 30px;
}

.clients-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition: border-color var(--transition-timing);
}

.clients-list-svg {
    fill: var(--icon-color);
    transition: fill var(--transition-timing);
}

.logo-1 {
    width: 44.27px;
    height: 49.23px;
}

.logo-2 {
    width: 40px;
    height: 52px;
}

.logo-3 {
    width: 41px;
    height: 42.6px;
}

.logo-4 {
    width: 79.66px;
    height: 42.02px;
}

.logo-5 {
    width: 59px;
    height: 47px;
}

.logo-6 {
    width: 88.48px;
    height: 45.44px;
}

.clients-list-link:hover .clients-list-svg,
.clients-list-link:focus .clients-list-svg {
    fill: var(--accent-color);
}

.clients-list-link:hover,
.clients-list-link:focus {
    border-color: var(--accent-color);
}

/*  ============ END CLIENTS ============ */

/*-------END STUDIO PAGE-------*/



/*-------PORTFOLIO PAGE-------*/

/*  ============ PROJECTS ============ */

.projects {
    padding: 94px 0;
    border-top: 1px var(--section-border-color);
}

.projects-filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.projects-filter-list-item:not(:last-child) {
    margin-right: 8px;    
}

.projects-filter-list-button {
    padding: 6px 22px;
    min-width: 73px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
    background-color: var(--background-light-color);
    border-radius: 4px;
    border:none;
    cursor: pointer;
    transition: color var(--transition-timing), background var(--transition-timing), box-shadow var(--transition-timing);
}

.projects-filter-list-button:hover,
.projects-filter-list-button:focus {
    color: var(--title-light-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
}

.projects-list-item:nth-child(3n) {
    margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.projects-list-link {
    display: block;
    transition: box-shadow var(--transition-timing);
}


.projects-card-content {
    padding: 20px 24px;
    border-bottom: 1px var(--card-border-color);
    border-left: 1px var(--card-border-color);
    border-right: 1px var(--card-border-color);
}

.projects-list-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-dark-color);
}

.projects-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-color);
}

.projects-list-image-box {
    position: relative;
    overflow: hidden;
}

.projects-overlay {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: 0.03em;
    color: var(--title-light-color);
    transform: translateY(100%);
    transition: transform var(--transition-timing);
 }

.projects-list-link:hover .projects-overlay,
.projects-list-link:focus .projects-overlay {
    transform: translateY(0); 
}

.projects-list-link:hover,
.projects-list-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*  ============ END PROJECTS ============ */

/*-------END PORTFOLIO PAGE-------*/











