
.advantages {
    padding: 94px 0;

    &__list {
        display: flex;

        &-description{
            @include font (400, 14px, 1.714, 0.03em);
            color: $description-color;
        }
    }

    &__list-item {
        width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__list-subtitle {
        margin-bottom: 10px;
        @include font (700, 14px, 1.143, 0.03em);
        text-transform: uppercase;
        color: $title-dark-color;

        &::before {
            display:block;
            content: "";
            width: 270px;
            height: 120px;
            background-color: $background-light-color;
            margin-bottom: 30px;
            border-radius: 4px;
        }

        &--details::before {
            background-image: url(../images/svg/antenna.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px 70px;
        }

        &--punctuality::before {
            background-image: url(../images/svg/clock.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px 70px;
        }

        &--planning::before {
            background-image: url(../images/svg/diagram.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px 70px;
        }

        &--technologies::before {
            background-image: url(../images/svg/astronaut.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70px 70px;
        }
    }
}

