.clients {
    padding: 94px 0;
}

.clients__list {
    @extend %flex-align;

    &-item:not(:last-child) {
        margin-right: 30px;
    }
    
    &-link {
        @extend %flex-align;
        align-items: center;
        width: 170px;
        height: 90px;
        border: 1px solid $icon-color;
        border-radius: 4px;
        transition: border-color $transition-timing;

        &:hover,
        &:focus {
        border-color: $accent-color;
        }
    }

    &-svg {
        fill: $icon-color;
        transition: fill $transition-timing;

        .clients__list-link:hover &,
        .clients__list-link:focus & {
        fill: $accent-color;
        }

        &--logo-1 {
            width: 44.27px;
            height: 49.23px;
        }

        &--logo-2 {
            width: 40px;
            height: 52px;
        }

        &--logo-3 {
            width: 41px;
            height: 42.6px;
        }

        &--logo-4 {
            width: 79.66px;
            height: 42.02px;
        }

        &--logo-5 {
            width: 59px;
            height: 47px;
        }

        &--logo-6 {
            width: 88.48px;
            height: 45.44px;
        }
    }
}
