.footer {
    padding: 60px 0;
    min-height: 252px;
    background-color: $background-dark-color;

    .footer-address {
        align-content: center;
        margin-right: 70px;
    }
}

.address {

    & > a {
        display:block;

        &:not(:last-child) {
            margin-bottom: 9px;
        }
    }

    &-main {
        margin-bottom: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $title-light-color;
        transition: color $transition-timing;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    &-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        color: $semitransparent-address-color;
        transition: color $transition-timing;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.submit {
    &-email {
        width: 358px;
        height: 50px;
        margin-right: 12px;
        padding: 15px 16px;
        border: 1px solid $semitransparent-border-color;
        border-radius: 4px;
        background-color: $background-dark-color;
        color: $title-light-color;
    }

    &-button {
        display: flex;
        align-items: center;
        width: 200px;
        height: 50px;
        padding: 10px 29px;
        background: $accent-color;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.875;
        letter-spacing: 0.06em;
        color: $title-light-color;
        cursor: pointer;
    }

    &-svg {
        margin-left: 10px;
        width: 24px;
        height: 24px;
        fill: $title-light-color;
    }

    &-form {
        display: flex;
        flex-wrap: nowrap;

        & input::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: 0.03em;
            color: $semitransparent-address-color;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}


.join-us {
    width: 206px;
    height: 80px;
    margin-right: 93px;
}

.join-us-slogan,
.submit-slogan {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-light-color;
}






