
.header__link {
    padding: 15px 0;
}

.navigation {
    display:flex;
    align-items: center;
}

.navigation__list {
    display:flex;

    &-link {
        @include font (500, 14px, 1.143, 0.02em);
        color: $title-dark-color;
        transition: color $transition-timing;

        &:hover,
        &:focus {
        color: $accent-color;
        }
    }

    &-item:not(:last-child) {
        margin-right: 50px;
    }
}


.active-page {
    position: relative;
    color: $accent-color;

    .header & {
        padding-bottom: 31px;
    }

    &::after {
        position: absolute;
        bottom: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 4px;
    }
}

.contact-list {
    display:flex;
    margin-left: auto;

    &__link {
        display: flex;
        align-items: center;
        height: 16px;
        @include font (500, 14px, 1.143, 0.02em);
        color: $description-color;
        transition: color $transition-timing;

        &:hover,
        &:focus {
            color: $accent-color;
        }
    }

    &__svg {
        margin-right: 10px;
        fill: $description-color;
        transition: fill $transition-timing;

        .contact-list-link:hover &,
        .contact-list-link:focus & {
            fill: $accent-color;
        }

        &--envelope {
            width: 16px;
            height: 12px;
        }

        &--smartphone {
            width: 10px;
            height: 16px;;
        }
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }
}





