
.projects {
    padding: 94px 0;
    border-top: 1px $section-border-color;
}

.projects__filter-list {
    @extend %flex-align;
    margin-bottom: 50px;

    &-item:not(:last-child) {
        margin-right: 8px;    
    }

    &-button {
        padding: 6px 22px;
        min-width: 73px;
        height: 38px;
        @include font (500, 16px, 1.625, 0.03em);
        text-align: center;
        color: $title-dark-color;
        background-color: $background-light-color;
        border-radius: 4px;
        border:none;
        cursor: pointer;
        transition: color $transition-timing, background-color $transition-timing, box-shadow $transition-timing;

        &:hover,
        &:focus {
            color: $title-light-color;
            background-color: $accent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}


.projects__list {
    display: flex;
    flex-wrap: wrap;

    &-item {
        margin-right: 30px;
        margin-bottom: 30px;
        width: 370px;

        &:nth-child(3n) {
            margin-right: 0;
        }
        
        &:nth-last-child(-n + 3) {
            margin-bottom: 0;
        }
    }

    &-link {
        display: block;
        transition: box-shadow $transition-timing;

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &-title {
        margin-bottom: 4px;
        @include font (700, 18px, 2, 0.06em);
        color: $title-dark-color;
    } 

    &-description {
        @include font (400, 16px, 1.875, 0.03em);
        color: $description-color;
    }

    &-image-box {
        position: relative;
        overflow: hidden;
    }
}

.projects__card-content {
    padding: 20px 24px;
    border-bottom: 1px $card-border-color;
    border-left: 1px $card-border-color;
    border-right: 1px $card-border-color;
}


.projects__overlay {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    @include font (400, 18px, 1.556, 0.03em);
    color: $title-light-color;
    transform: translateY(100%);
    transition: transform $transition-timing;

    .projects__list-link:hover &,
    .projects__list-link:focus & {
        transform: translateY(0); 
    }
 }




