.services {
    padding-bottom: 94px;
}

.services__list {
    display: flex;

    &-item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &-overlay {
        position: absolute;
        bottom:0;
        left:0;
        @extend %flex-align;
        padding: 27px 27px;
        width: 370px;
        height: 70px;
        background: $services-bg;

        &-title {
            @include font (700, 14px, 1.143, 0.03em);
            color: $title-light-color;
            text-transform: uppercase;
        }
    }
}







