.social-list {
    @extend %flex-align;

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        @extend %flex-align;
        align-items: center;
        width:44px;
        height:44px;
        border-radius: 50%;
        transition: background-color $transition-timing;

        .footer & {
            background-color: $footer-social-bg;
        }

        &:hover,
        &:focus {
        background-color: $accent-color;
        }
    }

    &__svg {
        width: 20px;
        height: 20px;
        fill: $icon-color;
        transition: fill $transition-timing;

        .footer & {
            fill: $title-light-color;
        }

        .social-list__link:hover &,
        .social-list__link:focus & {
        fill: $title-light-color;
        }
    }
}












