    $main-font: "Roboto", sans-serif;
    $logo-font: "Raleway", sans-serif;
    $title-dark-color: #212121;
    $title-light-color: #FFFFFF;
    $logo-dark-color: #000000; 
    $description-color: #757575;
    $accent-color: #2196F3;
    $background-dark-color: #2F303A;
    $background-light-color: #F5F4FA;
    $semitransparent-address-color:  rgba(255, 255, 255, 0.6);
    $semitransparent-border-color:  rgba(255, 255, 255, 0.3);
    $section-border-color: solid #ECECEC;
    $card-border-color: solid #EEEEEE;
    $hero-bg: #C4C4C4;
    $icon-color: #AFB1B8;
    $services-bg: rgba(47, 48, 58, 0.8);
    $footer-social-bg:rgba(255, 255, 255, 0.1);
    $backdrop-color: rgba(0, 0, 0, 0.2);
    $border-radius: rgba(0, 0, 0, 0.1);
    $modal-input-border:  rgba(33, 33, 33, 0.2);
    $placeholder-color: rgba(117, 117, 117, 0.5);

    $transition-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
